.complaint-details-container {
  display: flex;
  flex-direction: column;
  .box {
    width: 40%;
  }
  .error-div {
    display: flex;
    align-items: center;
    gap: 6px;
    padding-top: 8px;
    svg {
      fill: red;
      width: 14px;
      height: 14px;
      flex: none;
    }
    .error-message {
      font-size: 14px;
      color: red;
      margin-block: 0;
    }
  }
  h1 {
    font-size: 25px;
    color: #212529;
    font-weight: 700;
  }
  .button-section {
    display: flex;
    justify-content: space-between;
    padding-inline: 12px;
    padding-top: 36px;
    background-color: white;
    padding-bottom: 24px;
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 24px;
      a,
      button {
        width: 100%;
      }
    }
    .welcome-button {
      svg {
        margin-right: 4px;
      }
    }
  }
  .form-container {
    padding-top: 20px;
    .row {
      display: flex;
      gap: 16px;
      padding: 8px;
      border-bottom: 0.8px solid rgb(222, 226, 230);
      &:nth-child(even) {
        background-color: white;
      }
      .left-column {
        width: 60%;
      }
    }
  }
  .form-label {
    font-weight: bold;
    display: block;
    margin: 0;
    font-size: 16px;
    color: black;
    span {
      color: #ae0606;
    }
  }
  .form-input-label {
    font-weight: 600;
    display: block;
    margin: 0;
    font-size: 16px;
    color: black;
    span {
      color: #ae0606;
    }
  }

  .radio-group {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    .radio-input {
      width: 13px;
      height: 13px;
    }
  }

  .form-description {
    font-size: 12px;
    margin-bottom: 15px;
    span {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .form-body {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .form-input,
  .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0;
  }
}
