.welcome-container {
  display: flex;
  flex-direction: column;
  padding-inline: 12px;
  gap: 8px;
  .heading {
    font-size: 23px;
    color: rgb(13, 110, 253);
  }
  a {
    color: rgb(13, 110, 253);
  }
  a:hover, a:visited {
    color: rgb(10, 88, 202);
  }
  .main-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    color: #212529;
    p {
      margin: 0;
    }
    .disclaimer {
      color: rgb(220, 53, 69);
    }
    .button-section {
      display: flex;
      justify-content: space-between;
      padding-inline: 12px;
      padding-bottom: 24px;
      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
        a,button{
          width: 100%;
        }
      }
    }
  }
}
